# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env
.env.*
!.env.example

# Cache das ferramentas
.ruff_cache/
.pytest_cache/

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# Airflow
airflow.db
airflow.cfg
standalone_admin_password.txt